.card {
    display: grid;
    grid-area: card;
    grid-column: span 1;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    border: 1px solid #EBEBEB;
    border-radius: 13px;


    &__title {
        font-family: Gilroy;
        font-weight: bold;
        font-size: 20px;
        color: #4F4F4F;
    }
    &__points {
        justify-self: end;
        width: 26px;
        height: 5px;
        background: url(../../../src/img/points.png) no-repeat;
    }

    &__subtitle {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 20px;
        color: #4F4F4F;
    }   
    
    &__changes {
        display: flex;
        justify-content: flex-end;
    }

    &__changes-percents {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 20px;
        color: #979797;
    }

    &__changes-arrow {
        width: 11px;
        height: 12px;
        margin-left: 9px;
        display: flex;
        align-self: center;
        background: url(../../../src/img/arrow.png) no-repeat center center;
    }

}