.geo {
    grid-area: geo;
    display: grid;
    grid-template-columns: 1fr repeat(2, 48px);
    grid-template-rows: 30px 1fr;
    border: 1px solid #EBEBEB;
    border-radius: 13px;
    align-items: center;

    &__title {
        font-family: Gilroy;
        font-weight: bold;
        font-size: 20px;
        color: #4F4F4F;
    }

    &__variant {
        font-family: Gilroy;
        font-weight: 500;
        font-size: 12px;
        color: #979797;

        &--active {
        margin-right: 10px;
        color: #4F4F4F;
        font-weight: 600;
        }
    }

    &__linear {
        width: 100%;
        grid-column: span 3;
    }
    
}