* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}

.app {
    height: 1200px;
    padding: 160px;
    margin: 0 auto;
    background: #FDFDFF
}

.container {
    display: grid;
    grid-template-columns: 98px 1fr;
    grid-template-rows: 880px;
    grid-template-areas: "nav content";
    border: 2px solid #EFF3F9;
    border-radius: 14px;
}

.content {
    display: grid;
    grid-area: content;
    padding: 53px 45px 47px 49px;
    grid-template-rows: 56px 1fr;
    grid-gap: 44px;
    grid-template-areas: "header"
                         "main"; 
    background: #EFF3F9;
}

.main {
    display: grid;
    grid-area: main;
    grid-gap: 32px;
    grid-template-rows: 148px repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "card      card      card"
                         "audience  audience  device" 
                         "gender    gender    geo";
}
